.navlink {
  &:not(&.active) {
    &:hover, &:focus {
      color: black;
    }
  }
  &:hover {
    background-color: #e2e8f0;
  }
  &.active {
    background-color: #e2e8f0;
    color: #155e75;
    font-weight: bold;
  }
}